@font-face {
  font-family: pixel;
  src: url("../fonts/LLPIXEL3.ttf");
}
.icon {
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;

}
.icon-arrow-right{
  background-image: url('../images/right.png');
}
.icon-arrow-left{
  background-image: url('../images/left.png');
}
body {
  font-family: pixel;
  color: white;
  height: 100%;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  background-color: ghostwhite;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 21px 3px white;
  box-shadow: 1px 2px 21px 3px white;
  margin-top: 25px;
}
.awesome {
  animation: back-can 500ms infinite;
}
.box-sadow-color {
  animation-name: box-shad;
  animation-duration: 500ms infinite;
}
#main {
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;

  text-align: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.game-board {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.game-board h1 {
  font-style: italic;
  font-size: 4rem;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px,
    rgb(165, 14, 224) 0px 0px 15px, #a81c91 0px 0px 20px,
    2px 2px 1px rgba(102, 7, 190, 0);
}
.infos-game {
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: center;
  gap: 30px;
}

.rules {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
  gap: 20px;
  font-size: 1.3rem;
  padding: 10px;
}
.board {
  width: 15%;
  min-width: 280px;
  height: 350px;
  padding: 10px;
  color: black;
  font-weight: 700;
  border-radius: 5px;
  background-color: ghostwhite;
  -webkit-box-shadow: 1px 2px 21px 3px white;
  box-shadow: 1px 2px 21px 3px white;
}
.board h3 {
  font-size: 2rem;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;

}
.dot {
  width: 40px;
  height: 20px;
  margin-right: 14px;
}
.green {
  background-color: #3B106D;
}

.red {
  background-color: #6dbbf3;
}

.blue {
  background-color: #AA1CE4;
}
#score{
  min-height: 20px;
}
/*VIDEO BG*/

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
#retry{
  border: 5px solid #000;
  padding: 10px 24px;
  appearance: none;
  background: white;
  font-family: pixel;
  font-weight: 700;
}
#fullscreen-bg__video {
  position: absolute;
  top: 0;
  object-fit: cover;
  left: 0;
  width: 100%;
  height: 100%;
}

/*KEYFRAMES*/
@keyframes box-shad {
  0% {
    box-shadow: 1px 2px 21px 3px white;
    animation-timing-function: ease;
  }
  25% {
    box-shadow: 1px 2px 90px 3px rgb(255, 244, 91);
    animation-timing-function: ease;
  }
  50% {
    box-shadow: 1px 2px 21px 3px rgb(228, 147, 71);
    animation-timing-function: ease;
  }
  75% {
    box-shadow: 1px 2px 90px 3px rgb(248, 68, 62);
    animation-timing-function: ease;
  }
  100% {
    box-shadow: 1px 2px 21px 3px rgb(253, 253, 253);
    animation-timing-function: ease;
  }
}

@keyframes back-can {
  0% {
    background-color: ghostwhite;
  }
  25% {
    background-color: black;
  }
  50% {
    background-color: ghostwhite;
  }
  75% {
    background-color: black;
  }
  100% {
    background-color: ghostwhite;
  }
}
