@font-face {
  font-family: pixel;
  src: url("../fonts/LLPIXEL3.ttf");
}

body{
  font-family: pixel;
  color: white;
  height: 100%;
  background: url('../images/background.jpg') no-repeat;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
canvas {
  background-color: white;
  border-radius: 5px;
}

#main{

  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  text-align: center;
}

.game-board{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.game-board h1{
  margin-top: 25px;
}
.infos-game{
  display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: center;
    gap: 30px;
}